/* CORE */

#farfalla_container{
  position: absolute;
  top: 30px;
  right: 0;
/*
  -webkit-box-shadow: -1px 2px 3px #999;
  -moz-box-shadow: -1px 2px 3px #999;
  box-shadow: -1px 2px 3px #999;
*/
  z-index: 10000;
  background: #000;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#farfalla_container *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#farfalla_container input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#farfalla_badge{
  display: block;
}

#farfalla_logo{
  width: 48px;
  padding: 8px;
}

#farfalla_badge_label{
  display:block;
  width: auto;
  float:left;
  color:#fff;
  font-family: 'Exo', Helvetica, Arial, sans;
  padding: 12px;
  font-size: 18px;
}

#farfalla_toolbar{
  font-family: 'Exo', Helvetica, Arial, sans;
  background: #000;
  color: #fff;
  margin: 0;
  top: 0;
}

#farfalla_toolbar_shade {
  position: absolute;
  z-index: 999;
  margin: 0;
  background: red !important;
  padding: 0;
  display:block;
  width: 100%;
  height: 100%;
  float:left;
  margin: 0;
  margin-left: -14px;
  top: 0;
  -moz-opacity:.80; filter:alpha(opacity=80); opacity:.80;
}

  #farfalla_toolbar_margin{
    display:block;
    width:4px;
  }

  #farfalla_logo a:link, #farfalla_logo a:visited{
    color: #fff !important;
    text-decoration: none;
  }

  #farfalla_logo h1{
    font-size: 20pt;
    font-family: 'Exo', Helvetica,Arial,sans;
    letter-spacing: 0;
    position: relative;
  }

  #farfalla_logo p{
    font-size: 12pt;
    font-family: 'Exo', Helvetica,Arial,sans;
    letter-spacing: 0;
    position: relative;
    text-align: center;
  }
/*
  #farfalla_home{
    width: 42px;
    height: 42px;
    display:block;
    float:left;
  }
*/
  #farfalla_logo img{
    border: none;
    padding: 2px 2px 2px 6px;
    margin: auto;
  }

  #farfalla_home a img{
    border: none;
    padding: 2px;
    margin: 0px;
  }

  #farfalla_active{
    display: block;
    float: left;
  }

    #farfalla_active ul{
      list-style: none;
      display: block;
      float: left;
      padding: 0;
      margin:0;
      top:0;
    }

    #farfalla_active ul li{
      display: inline;
      float: left;
      padding: 1ex;
      margin:0;
      color: #fff;
    }

  #farfalla_buttons ul, #farfalla_buttons ul li{
      list-style: none;
      display: inline;
      padding: 0;
      float: left;
  }

  #farfalla_buttons ul li input{
      margin: 3px 2px;
      background: #fff !important;
      border: 0;
      font-size: 18pt !important;
      font-weight: bold;
      width: auto !important;
      height: auto;
  }

.farfalla_button{
  border: none;
}

.plugin_activator{
  width: 52px;
  height: 52px;
  margin: 6px 156px 6px 6px;
}

#farfalla_remember_profile, #farfalla_reset_all{
  display: block;
  width: 52px;
  height: 52px;
  margin: 6px 6px;
  float: left;
}

#farfalla_reset_all{
  margin-left:50px;
}

#farfalla_reset_all_button{
  color: #000;
  display: block;
  padding: 0.9em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

.plugin_activator_label{
  display:none;
}

.plugin_options {
  background: #fff;
  display:block;
  padding: 0 12px;
  text-align: left;
  width: 186px;
  margin: 0 2px;
  position: relative;
  clear: both;
}

.plugin_options:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: 122px;
  width: 0;
  border-width: 0 16px 16px;
  border-style: solid;
  border-color: #fff transparent;
}

.plugin_options input{
  width:62px;
  height:62px;
  border: none;
  color: transparent !important;
  font-size:0px !important;
  text-shadow: none;
  margin: 0;
}

.plugin_options_actions{
  display:inline;
}

.plugin_options_actions h2{
  color: #000 !important;
  margin: 0;
  font-size: 12pt;
  padding: 12px 0 0 12px;
}

.plugin_options_switch{
  background: url('../images/switch-off.png') no-repeat !important;
  width: 80px !important;
  height: 26px !important;
  border: none !important;
  color: transparent !important;
  font-size:0px !important;
  text-shadow: none !important;
  margin: 13px 0 13px 100px !important;
  float: left !important;
  cursor: pointer !important;
}

.plugin_options_switch_on{
  background: url('../images/switch-on.png') no-repeat !important;
}

.active{
  background: #fff;
}

.farfalla_toolbar_separator{
  border-top: 2px solid #fff;
  width: 100%;
  margin: 0;
  display:block;
  clear: both;
}

#farfalla_active_option{
  display: inline-block;
  margin: 0;
  background: url('../images/farfalla_active_option.png') no-repeat;
  background-position: -4px;
}

/*
    qTip2 overrides
*/

.ui-tooltip-farfalla{
  font-family: 'Exo', Helvetica, Arial, sans;
  font-size: 12pt;
  font-weight: bold;
  line-height: 14pt;
  border: 1px solid #000;
  color: #000;
  background: #fff;
  z-index: 10001;
}

.ui-tooltip-farfalla .ui-tooltip-titlebar{
  background-color:#f1f1f1;
}

/*
    Dialog ovverrides
*/

.ui-dialog{
  z-index: 10000;
}

.ui-widget-overlay{
  z-index: 9999;
}

/*
  Jobmetoo logo
*/

#jobmetoo_logo_img{
  margin: 0 12px 12px 12px;
}
