/* CORE */
html{
/*
  padding: 0;
  margin: 0;
  top: 0;
*/
}

body{
/*  margin: 0px !important;
  padding: 0px !important;*/
}

#farfalla_container{
  position: fixed;
  right: 0;
  top: 0;
/*  width: 266px; */
  height: 100%;
/*  display: block;*/
  background: #333 !important;
/*  border-left: 2px solid #fff; */
}

#farfalla_badge{
  float:right;
  margin: 0;
  display: block;
  width: auto;
  height: auto;
  z-index: 10001;
  background-color:#000;
/*  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;*/
  -webkit-box-shadow: -2px 2px 2px #999;
  -moz-box-shadow: -2px 2px 2px #999;
  box-shadow: -2px 2px 2px #999;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  -khtml-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-transform: translate3d(2px, 0px, 0px);
  transform: translate3d(2px, 0px, 0px);
}

#farfalla_badge_logo{
  display:block;
  width: 52px;
  height: 50px;
  float:right;
}

#farfalla_badge_label{
  display:block;
  width: auto;
  float:left;
  color:#fff;
  font-family: Helvetica, Arial, sans;
  padding: 12px;
  font-size: 18px;
}

#farfalla_toolbar{
  position: absolute;
  font-family: Helvetica, Arial, sans;
  background: #000 !important;
  color: #fff;
  margin: 0;
  top: 0;
  width:360px;
  height:100%;
  -webkit-box-shadow: -1px 2px 3px #999;
  -moz-box-shadow: -1px 2px 3px #999;
  box-shadow: -1px 2px 3px #999;
  z-index: 10000;
}

#farfalla_toolbar_shade {
  position: absolute;
  z-index: 999;
  margin: 0;
  background: transparent !important;
  padding: 0;
  display:block;
  width: 100%;
  height: 100%;
  float:left;
  margin: 0;
  margin-left: -14px;
  top: 0;
  -moz-opacity:.80; filter:alpha(opacity=80); opacity:.80;
}

    #farfalla_toolbar_margin{
        display:block;
        width:4px;
    }


  #farfalla_logo{
    width: 100%;
    display: block;
    text-align: center;
    color: #fff !important;
    font-size: 12pt;
  }

  #farfalla_logo a:link, #farfalla_logo a:visited{
    color: #fff !important;
    text-decoration: none;
  }

  #farfalla_logo h1{
    font-size: 20pt;
    font-family: Helvetica,Arial,sans;
    letter-spacing: 0;
    position: relative;
  }

  #farfalla_logo p{
    font-size: 12pt;
    font-family: Helvetica,Arial,sans;
    letter-spacing: 0;
    position: relative;
    text-align: center;
  }

  #farfalla_home{
    width: 42px;
    height: 42px;
    display:block;
    float:left;
  }

  #farfalla_logo img{
    border: none;
    padding: 2px 2px 2px 6px;
    margin: auto;
  }

  #farfalla_home a img{
    border: none;
    padding: 2px;
    margin: 0px;
  }

  #farfalla_active{
    display: block;
    float: left;
  }

    #farfalla_active ul{
      list-style: none;
      display: block;
      float: left;
      padding: 0;
      margin:0;
      top:0;
    }

    #farfalla_active ul li{
      display: inline;
      float: left;
      padding: 1ex;
      margin:0;
      color: #fff;
    }

  #farfalla_toolbar_accordion h3 a:visited{
    color: #fff;
  }

  #farfalla_toolbar_accordion .ui-accordion-content{
    background:#333;
    color: #fff;
  }
    #farfalla_toolbar_accordion .ui-accordion-header{
    background:#000;
    }

  #farfalla_buttons ul, #farfalla_buttons ul li{
      list-style: none;
      display: inline;
      padding: 0;
      float: left;
  }

  #farfalla_buttons ul li input{
/*     height: 80%; */
      margin: 3px 2px;
      background: #fff !important;
      border: 0;
      font-size: 18pt !important;
      font-weight: bold;
      width: auto !important;
      height: auto;
  }

.callout {
    position: absolute;
  font-family:arial;
    padding: 5px;
    border: 2px solid #000;
    background-color: #666;
    color: #fff;
}

/* PLUGINS */

/* Plugins > General purpose highlighter */

.farfalla_red,a:link.farfalla_red, a:visited.farfalla_red, .farfalla_red a{
border: 2px solid #f00;
background: #f66 url('');
}

/* Plugins > Virtual keyboard */
/*
.ui-keyboard-button{
border: 1px solid #666;
margin: .1em;
}

.ui-keyboard-keyset{

}


.ui-keyboard-actionkey{
background: #eee;
width: 4em;
}

.ui-keyboard-preview{
text-align: left;
}
*/
.hidden{
visibility: hidden;
}

.farfalla_addalt{
margin: 0 10px 10px 10px;
border: 1px solid #ccc;
padding: 5px;
display:inline;
float:left;
}

.addalt_overlay{
}

.keynav_focusbox{
/*background: green;*/
}

.keynav_box{
/*background: green;*/
}

.farfalla_readability{
  border: 2px solid red;
}

.farfalla_readability_{
  border: 2px solid red;
}

.ui-tooltip{
  font-family: Helvetica, Arial, sans;
  font-size: 12pt !important;
  line-height: 14pt !important;
}

.ui-tooltip strong{
  color: #fff;
}

.highlight-word{
  background: red;
  color: #fff;
}

.plugin_activator{
  display: block;
  width: 52px;
  height: 52px;
  margin: 20px 27px;
  float:left;
}

#farfalla_remember_profile, #farfalla_reset_all{
  display: block;
  width: 52px;
  height: 52px;
  margin: 20px 27px;
  float:left;
}

.plugin_activator_label{
  display:none;
}

.plugin_activator input{
/*  display: none; */
}

.plugin_options {
  background: #fff;
  display:block;
  z-index: 1200;
  padding: 0 12px;
  text-align: left;
  width: 90%;
  margin: 0 5%;
}

.plugin_options input{
  width:62px;
  height:62px;
  margin:5px;
/*  padding: 3px;  */
  border: none;
  color: transparent !important;
  text-shadow: none;
/*
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
*/
}

.plugin_options_actions{
/*  position: relative;
  top: 140px;
  width: 100%;
  text-align: center;*/
  display:inline;
}

.plugin_options_actions h2{
  color: #000 !important;
  margin: 0;
  font-size: 12pt;
  padding: 12px 0 0 12px;
}


.active{
  background: #fff;
}

.farfalla_toolbar_separator{
  border-top: 2px solid #fff;
  width: 95%;
  margin: 0 0 0 5%;
  display:block;
  clear: both;
}

#farfalla_active_option{
  display: inline;
  padding: 22px 0;
  margin: 0;
  background: url('../images/farfalla_active_option.png');
}

.ui-tooltip{
-webkit-transform: translate3d(360px, 0px, 0px);
transform: translate3d(360px, 0px, 0px);
}