h1, h2, h3, h4 {
	font-weight: normal;
	margin-top:0.5em;
	margin-bottom:0.2em;
}

div.custom-select-box{
    background-color:#CCC;
    padding:5px;
    width:400px;
    cursor:default;
    font-family: "arial", sans-serif;
    font-size:0.8em;
}
div.custom-select-box div.custom-unselect{
    background-color:#EEE;
    padding:3px;
}
div.custom-select-box div.custom-select{
    background-color:#FFF;
    padding:3px;
    font-weight:bold;
}
div.custom-select-box div.custom-disabled{
    color:#844;
}
div.custom-select-box div.custom-optgroup{
    padding:5px;
}
div.custom-select-box div.custom-optgroup-label{
    background-color:#EE9;
    padding:5px;
    font-weight:bold;
}

input[type=checkbox] {
	clear: left;
	float: left;
	margin: 1em;
	width: auto;
}
div.checkbox label {
	float:left;
	display: block;
}

div.checkbox {
/*	display: inline;
	margin: 16px; */
}