.DS_Store
.htaccess
*~
*.psd
goodies/deployment.sh
goodies/deploy.php
.com.apple.timemachine.supported
backend/farfalla-backend.sql
backend/app/Config/database.php
backend/app/tmp/
bower_components/
node_modules/
