/* CORE */
html{
padding: 0;
margin: 0;
top: 0;
}

body{
padding: 0;
margin: 0;
}

#highlighter{
border: 6px solid red;
/*display:none;*/
margin: 0;
position: absolute;
z-index: 20000;
}

#farfalla_iframe{
float: left;
width: 60%;
background: #999;
height: 50px;
border: none;
display:inline;
}

.farfalla_toolbar{
border-top: 2px solid #999;
border-left: 2px solid #999;
border-right: 2px solid #999;
border-bottom: 0;
background: #000;
color: #fff;
height: 40px;
/*line-height: 40px;*/
margin: 0 10%;
padding: 0;
bottom: 0px;
position: fixed;
width: 80%;
z-index: 20000;
}

.farfalla_toolbar form{
font-family: Helvetica, Calibri, sans;
font-size: 12pt;
display: inline
}

.farfalla_toolbar p{
display: inline
}

.farfalla_toolbar_explode{
width: 5em;
}

#farfalla_active{
display: inline;
float:left;
}

#farfalla_active p{
display: inline;
}

#farfalla_active ul{
display: inline;
text-align: left;
padding: 0;
margin:0;
top:0;
}

#farfalla_active ul li{
display: inline;
padding: 4px;
margin:0;
top:0;
color: #fff;
}

#change_profile{
/*float:right;*/
padding: 4px;
}

#farfalla_buttons{
width: 40%;
float:left;
display: inline;
}

#farfalla_buttons ul, #farfalla_buttons ul li{
list-style: none;
display: inline;
}

#farfalla_buttons ul li img{
padding: 0 3pt;
cursor: pointer;
}

/* PLUGINS */

/* Plugins > General purpose highlighter */

.farfalla_red,a:link.farfalla_red, a:visited.farfalla_red, .farfalla_red a{
border: 2px solid #f00; 
background: #f66 url('');
}

/* Plugins > Virtual keyboard */

.ui-keyboard-button{
border: 1px solid #666;
margin: .1em;
}

.ui-keyboard-actionkey{
background: #eee;
width: 4em;
}

.ui-keyboard-space{
background: #fff;
width: 15em;
}

.ui-keyboard-preview{
text-align: left;
}


/* Plugins > Magnifier */

.farfalla_debug{
border: 2px solid #0f0;
background: #333;
color: #fff;
font-family: Helvetica,Arial,sans;
font-size: 30pt;
font-weight: bold;
line-height: 1.4em;
margin: 0;
padding: 1ex;
position: absolute;
width: 3em;
z-index: 40000;
clear: both;
}

#monitor{
border: 4px solid #0f0;
background: #333;
color: #fff;
display:none;
font-family: Helvetica,Arial,sans;
font-size: 30pt;
font-weight: bold;
line-height: 1.4em;
margin: 0 0 0 50%;
padding: 1ex;
position: absolute;
width: 45%;
z-index: 30000;
clear: both;
}

.monitor font{
color: #fff;
}

.monitor *	{
color: #fff;
}


.monitor_left{
margin: 0;

}

.monitor a:link{
color: #0f0;
}

.monitor a:visited{
color: #ff0;
}


.monitor img{
width: 60%;
height: inherit;
}

.monitor a {
background: transparent;
}

.hidden{
visibility: hidden;
}

.farfalla_addalt{
margin: 0 10px 10px 10px;
border: 1px solid #ccc;
padding: 5px;
}