/* CORE */
html{
padding: 0;
margin: 0;
}

body{
padding: 0;
margin: 0;
top: 50px;
}

.highlighter{
border: 2px solid red;
display:none;
margin: 0;
position: absolute;
z-index: 20000;
}

#farfalla_iframe{
width: 100%;
height: 30px;
border: none;
}

.farfalla_toolbar{
border: 2px solid #000;
background: #333;
color: #fff;
height: 30px;
line-height: 30px;
margin: 0 10%;
padding: 0;
bottom: 0px;
position: fixed;
width: 80%;
z-index: 20000;
}

.farfalla_toolbar form{
font-family: Helvetica, Calibri, sans;
font-size: 12pt;
display: inline
}

.farfalla_toolbar p{
display: inline
}

.farfalla_toolbar_explode{
width: 5em;
}

#farfalla_active{
font-family: Helvetica, Calibri, sans;
font-size: 12pt;
}

#farfalla_active ul{
text-align: left;
padding: 0;
margin:0;
top:0;
}

#farfalla_active ul li{
display: inline;
padding: 4px;
margin:0;
top:0;
color: #fff;
}

#change_profile{
/*float:right;*/
padding: 4px;
}

/* PLUGINS */

/* Plugins > General purpose highlighter */

.farfalla_red,a:link.farfalla_red, a:visited.farfalla_red{
border: 4px solid #f00;
}

/* Plugins > Virtual keyboard */

.ui-keyboard-button{
border: 1px solid #666;
margin: .1em;
}

.ui-keyboard-actionkey{
background: #eee;
width: 4em;
}

.ui-keyboard-space{
background: #fff;
width: 15em;
}

.ui-keyboard-preview{
text-align: left;
}


/* Plugins > Magnifier */

.monitor{
border: 4px solid #0f0;
background: #333;
color: #fff;
display:none;
font-family: Helvetica,Arial,sans;
font-size: 30pt;
font-weight: bold;
line-height: 1.4em;
margin: 0 0 0 50%;
padding: 1ex;
position: absolute;
width: 46%;
z-index: 30000;
clear: both;
}

.monitor font{
color: #fff;
}

.monitor_left{
margin: 1em 0 0 0;

}

.monitor a:link{
color: #0f0;
}

.monitor a:visited{
color: #ff0;
}


.monitor img{
width: 100%;
height: inherit;
}
